import { defineConfig } from 'vite'
import vue from '@vitejs/plugin-vue'
import WailsTypedEvents from "@wailsio/runtime/plugins/vite";

// https://vitejs.dev/config/
export default defineConfig({
  plugins: [
    vue(),
    WailsTypedEvents("./bindings"),
  ],
  {{- if .LocalModulePath}}
  resolve: {
    // Configure the resolution system to import the development version of the runtime package.
    // This is only correct when using a development version of wails directly from the repository.
    // Otherwise, this option (as well as the matching one in the tsconfig.json file) should be removed.
    conditions: ["wails-development"]
  },
  {{- end}}
  build: {
    // Wails supports deployment on macOS 10.13 High Sierra,
    // whose webview is based on the same runtime as Safari 11.
    // If the project targets later macOS versions, this option may be changed or removed.
    target: "safari11"
  }
})

