{
  "include": [
    "./src/**/*",
    "./bindings/github.com/wailsapp/wails/v3/internal/eventdata.d.ts"
  ],
  "compilerOptions": {
    "allowJs": true,
    "checkJs": false,
    "noEmit": true,
    "skipLibCheck": true,
    "module": "ES2020",
    "moduleResolution": "bundler",
    {{if .LocalModulePath}}"customConditions": ["wails-development"],{{end}}
    "resolveJsonModule": true,
    "isolatedModules": true,
    "verbatimModuleSyntax": true,
    "lib": [
      "DOM",
      "DOM.Iterable",
      "ESNext",
    ],
    "strict": false,
  }
}
