{
  "name": "quik-ts-latest",
  "private": true,
  "version": "0.0.0",
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build:dev": "tsc && vite build --minify false --mode development",
    "build": "tsc && vite build --mode production",
    "preview": "vite preview"
  },
  "dependencies": {
    "@wailsio/runtime": "{{if .LocalModulePath}}file:../{{.LocalModulePath}}v3/internal/runtime/desktop/@wailsio/runtime{{else}}latest{{end}}",
    "@builder.io/qwik": "^1.3.0"
  },
  "devDependencies": {
    "typescript": "^5.2.2",
    "vite": "^5.0.8"
  }
}
